# VerificationStatus


## Values

| Name         | Value        |
| ------------ | ------------ |
| `Verified`   | verified     |
| `Document`   | document     |
| `Incomplete` | incomplete   |